html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Open Sans";
  color: #808080;
}

@import "layout";
@import "headernavbar";
@import "page-title";
@import "form-fields";
@import "details";

// AUTH
@import "auth/signin.scss";
@import "auth/signup.scss";

// ACCOUNT
@import "account/account.scss";
@import "account/account-information.scss";
@import "account/purchase-history.scss";

// SHOP
@import "shop/shop.scss";
